// Learn more about Custom Theme Properties here:
// https://vuetifyjs.com/en/features/theme/#custom-properties
.c-primary {
  color: var(--v-primary-base) !important;
}
.c-secondary {
  color: var(--v-secondary-base) !important;
}
.bc-secondary {
  background-color: var(--v-secondary-base) !important;
}
.bc-error {
  background-color: var(--v-error-base) !important;
}
.c-accent {
  color: var(--v-accent-base) !important;
}
.c-tint {
  color: var(--v-tint-base) !important;
}
.c-success {
  color: var(--v-success-base) !important;
}
.c-warning {
  color: var(--v-warning-base) !important;
}
.c-error {
  color: var(--v-error-base) !important;
}
.c-info {
  color: var(--v-info-base) !important;
}
