.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-items-center {
  justify-items: center;
}
.w-50 {
  width: 50%;
}
