.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-items-center {
  justify-items: center;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.fill {
  height: 100vh;
}
.text-align-center {
  text-align: center;
}
.align-text-center {
  text-align: center;
}
.p-0 {
  padding: 0 !important
}
